body {
    color: #333333;
    margin: 0;
    text-align: center;
  }
  header{
    background-color: #475564;
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  header ul{
    margin: 0;
  }
  header ul li {
    display: inline-block;
    padding: 0 20px;
  }
  header ul li a {
    color: #FFFFFF;
    font-size: 20px;
    text-decoration: none;
  }
  header img {
    height: 40px;
  }
  footer{
    background-color: #475564;
    color: #FFFFFF;
    padding: 10px;
  }
  .top h1 {
    font-size: 130px;
    letter-spacing: 6px;
  }
  .about{
    background-color: #F6F6F6;
    padding: 100px;
  }
  h2{
    margin: 0;
  } hr{
    margin-bottom: 50px;
    height: 5px;
    width: 100px;
    border: none;
  }
  .blue-line{
    background-color: #7BC3D1;
  }
  .about img{
    width: 200px;
  }
  .about table{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }
  .skills{
    background-color: #7BC3D1;
    padding: 70px;
  }.white-line{
    background-color: #FFFFFF;
  }
  .box{
    background: #FFFFFF;
    border-radius: 10px;
    display: inline-block;
    padding: 20px;
    margin: 20px;
    width: 15%;
  }
  .box img{
    display: block;
    margin: 20px auto;
    width: 50%;
  }
  .portfolio{
    background-color: #F6F6F6;
    padding: 100px;
  }
  .card {
    background: #FFFFFF;
    border-radius: 5px;
    display: inline-block;
    margin: 20px;
    width: 25%;
  }
  .card img {
    border-radius: 5px 5px 0 0;
    width: 100%;
  }